body {
    margin: 0;
    text-wrap: pretty;
}

/* fonts */

.f-cursive-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.f-cursive-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

.f-sanserif-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.f-sanserif-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.f-sanserif-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.f-sanserif-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* colours */
.c-grey {
    color: rgba(81, 85, 89, 1);
}

.c-ivory {
    color: rgba(247, 233, 222, 1);
}

.c-pink {
    color: rgba(240, 187, 180, 1);
}

.c-darkpink {
    color: rgba(234, 120, 91, 1);
}

.c-orange {
    color: rgba(255, 190, 152, 1);
}

.c-blue {
    color: rgba(203, 221, 233, 1);
}

.c-green {
    color: rgba(194, 203, 150, 1);
}

.c-anotherpink {
    color: rgba(245, 189, 168, 1);
}

.c-darkgreen {
    color: rgba(63, 77, 52, 1);
}

.c-yellow {
    color: rgba(238, 203, 117, 1);
}