<%- include ("meta.ejs") %>
<body>

    <%- include ("navbar.ejs") %>

    <div class="ctn-login">
        <img src="/images/logo.jpg" alt="logo" class="img-logo">
        <h1 class="f-sanserif-bold mt-5">CREATE</h1>

        <form id="createProfileForm" action="/createEMProfile" method="Post" class="ctn-form">

            <div class="input-group">
                <input type="text" id="uen" name="uen" required>
                <label for="uen">Company UEN no.</label>
            </div>

            <div class="input-group">
                <input type="text" id="repComName" name="repComName" required>
                <label for="repComName">Name of Company</label>
            </div>

            <div class="input-group">
                <input type="text" id="nameRep" name="nameRep" required>
                <label for="nameRep">Name of Representative</label>
            </div>

            <div class="input-group">
                <input type="text" id="mobile" name="mobile" required>
                <label for="mobile">Mobile No.</label>
            </div>

            <div class="input-group">
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
            </div>

            <div class="input-group">
                <input type="text" id="userRole" name="userRole" required>
                <label for="userRole">User Role</label>
            </div>

            <h1 class="f-sanserif-bold mt-5">PASSWORD</h1>
            <p class="f-sanserif-regular mt-5">A one-time password will be generated to the Employer’s email.
                The Employer’s user is encouraged to change the password.
            </p>

            <button type="button" class="button-content" id="generateContent">Generate Content</button>
            <button type="submit" class="button-createProfile">Create Profile</button>

            <p class="f-sanserif-regular mt-5">By creating a profile, you allow WerkPay to use 
                your personal details for employment purposes.
            </p>

        </form>

    </div>

    <%- include ("footer.ejs") %>

    <script>

document.getElementById('generateContent').addEventListener('click', () => {
            document.getElementById('uen').value = '200701984W';
            document.getElementById('repComName').value = 'RecruitExpress Pte. Ltd.';
            document.getElementById('nameRep').value = 'Jackson Wang';
            document.getElementById('mobile').value = '9877 4566';
            document.getElementById('email').value = 'oyfmaster1@gmail.com';
            document.getElementById('userRole').value = 'Employer';
        });

        function showMessage() {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            if (message) {
                alert(message);
                window.location.href = '/login'; // Redirect to login page
            }
        }

        showMessage();


    </script>
</body>
</html>