<body>
    <div class="footer">
        <div class="f-row">
            <div class="row">
                <p class="p-footer">
                    Copyright © 2024, WerkPay all rights reserved.<br><br>
                </p>
            </div>
            <div class="row">
                <ul class="nav-list">
                    <li>index</li>
                    <li><a href="/login">loginPage</a></li>
                    <li><a href="/loginUser">loginUser</a></li>
                    <li><a href="/createUserProfile">createJobseekerProfile</a></li>
                    <li><a href="/createEMProfile">createEmployerProfile</a</li>
                    <li><a href="/updateProfile">updateJobseekerProfile</a></li>
                    <li><a href="/jobPosting">jobPosting</a></li>
                    <li><a href="/">jobListings</a></li>
                    <li><a href="/jobApplication">jobApplied</a></li>
                    <li><a href="/jobAccepted">jobsAccepted</a></li>
                    <li><a href="/jobBlacklisted">jobBlacklisted</a></li>
                    <li><a href="/attendance">attendanceClocking</a></li>
                    <li><a href="/eWallet">walletScan</a></li>
                    <li><a href="/eTrans">walletTrans</a></li>
                    <li><a href="/eCurrency">currencies</a></li>
                    <li>eCard</li>
                    <li>userDash</li>
                    <a href="/employerDash"><li>employerDash</a></li>
                    <a href="/adminDash"><li>adminDash</li></a>
                    <a href="/resume"><li>resume</li></a>
                </ul>   
            </div>
        </div>
    </div>
</body>
</html>

