<%- include ("meta.ejs")%>

<body>

    <%- include ("navbar.ejs")%>

    <div class="">

        <div class="row">
            <h1 class="">Hello, subject to changes</h1>
        </div>
    </div> 

    <%- include ("footer.ejs")%>

</body>
</html>