<%- include ("meta.ejs") %>
<body>

    <%- include ("navbar.ejs") %>
    <%- include ("navEmployer.ejs") %>

    <div class="ctn-login">

        <h1 class="f-sanserif-bold mt-5">Purchase Job Credits</h1>

        <div class="ctn-attendance">
            
            <p class="f-sanserif-medium mt-3">Available Job Credits:</p>
            <h1 class="money-Title">4</h1>

            <p class="f-sanserif-regular mb-5"><span class="f-sanserif-medium">IMPORTANT NOTICE<br><br></span>
                Per credit cost S$50.00. Minimium purchase is 5 credits.
            </p>

            <div class="currency-row mt-2">
                <div class="currency-col1">
                    <p class="currency-amount">$ 250.00</p>
                    <p class="currency-title">5 Credits</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-2">
                <div class="currency-col1">
                    <p class="currency-amount">$ 500.00</p>
                    <p class="currency-title">10 Credits</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-2">
                <div class="currency-col1">
                    <p class="currency-amount">$ 750.00</p>
                    <p class="currency-title">15 Credits</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                </div>
            </div>
            <hr>

        </div>
    </div>


    <%- include ("footer.ejs") %>

    <script>
    
    </script>


</body>
</html>