<%- include ("meta.ejs") %>
<body>

    <%- include ("navbar.ejs") %>
    <%- include ("navEmployer.ejs") %>

    <div class="ctn-login">

        <h1 class="f-sanserif-bold mt-5">TOTAL JOB ADS POSTED</h1>

        <div class="ctn-attendance">

            <p class="f-sanserif-regular mb-5"><span class="f-sanserif-medium">IMPORTANT NOTICE<br><br></span>
                Do take note that if payment is not approved within 1 day, Salary payment will<br>  
                still be automatically release to the users within the next day since job has been completed.
            </p>
            
            <p class="f-sanserif-medium mt-3">Table information:</p>

            <table id="paymentTable" class="table-styled mt-5 mb-5">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Job ID</th>
                        <th>Date Posted</th>
                        <th>Job Title</th>
                        <th>Number of Total Applicant</th>
                        <th>Number of Shorlisted Applicant</th>
                        <th>Number of Rejected Applicant</th>
                        <th>Job Ads Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td class="serial-number"></td>
                        <td>SATS1980</td>
                        <td>1/7/2024</td>
                        <td>Changi Food Packer</td>
                        <td>130</td>
                        <td>35</td>
                        <td>32</td>
                        <td>Closed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <%- include ("footer.ejs") %>

    <script>

        function updateSerialNumbers() {
            const rows = document.querySelectorAll('#paymentTable tbody tr');
            rows.forEach((row, index) => {
                row.querySelector('.serial-number').textContent = index + 1;
            });
        }

        document.addEventListener('DOMContentLoaded', updateSerialNumbers);

    </script>


</body>
</html>