<%- include ("meta.ejs")%>
<body>

    <%- include ("navbar.ejs")%>

    <div class="ctn-login">
        <img src="/images/logo.jpg" alt="logo" class="img-logo">
        <h1 class="f-sanserif-bold mt-5">WELCOME</h1>
        <button class="button-lightgreen" onclick="usernameLogin()">Username Login</button>
        <button class="button-blue">Google Login</button>


        <p class="f-sanserif-regular mt-5">Alternatively, you may create profile via:</p>
        <button class=" button-lightpink" onclick="createUserProfile()">Username / Password</button>

    </div>

    <%- include ("footer.ejs")%>

    <script>
        function usernameLogin() {
            window.location.href = '/loginUser'; // Example URL
        }

        function createUserProfile() {
            window.location.href = '/createUserProfile'; // Example URL
        }
    </script>

</body>
</html>