<body>
    <div class="navbar2">
        <ul class="navbar-list">
            <a href="/adminDash"><li>Dashboard</li></a>
            <a href="/allJobPosted"><li>Jobs</li></a>
            <a href="/allEmployer"><li>Employers</li></a>
            <a href="/allJobseeker"><li>Job Seekers</li></a>
            <a href=""><li>Merchants</li></a>
        </ul>
    </div>
</body>
</html>