<body>
    <div class="navbar2">
        <ul class="navbar-list">
            <a href=""><li>Jobs</li></a>
            <a href=""><li>Employers</li></a>
            <a href=""><li>Job Seekers</li></a>
            <a href=""><li>Merchants</li></a>
        </ul>
    </div>
</body>
</html>