<body>
    <div class="navbar">
        <div class="navbar-row">
            <div class="col">
                🍔
            </div>
            <div class="col">
                <p class="p-navbar">
                    <a href="/" class="custom-link">Werk<span class="f-sanserif-light">Pay</span> 💰</a>
                </p>
            </div>
            <div class="col">
                <div class="dropdown">
                    <span class="dropbtn">🤦🏻‍♀️</span>
                    <div class="dropdown-content">
                        <a href="/updateProfile">Profile</a>
                        <a href="/jobApplication">Jobs</a>
                        <a href="/Attendance">Attendance</a>
                        <a href="/eWallet">E-Wallet</a>
                        <a href="/">Help</a>
                        <a href="/login">Log In</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>