<body>
    <div class="navbar">
        <div class="navbar-row">
            <div class="col">
                hamburger menu
            </div>
            <div class="col">
                <p class="p-navbar">
                    Werk<span class="f-sanserif-light">Pay</span>
                </p>
            </div>
            <div class="col">
                profile pic
            </div>
        </div>

    </div>
</body>
</html>