<body>
    <div class="navbar2">
        <ul class="navbar-list">
            <a href="/employerDash"><li>Dashboard</li></a>
            <a href="/jobPosting"><li>Job Posting</li></a>
            <a href="/jobCredit"><li>Purchase Job Credits</li></a>
            <a href="/paymentApproval"><li>Process Payments</li></a>
        </ul>
    </div>
</body>
</html>