<body>
    <div class="navbar2">
        <ul class="navbar-list">
            <li>Dashboard</li>
            <li>Job Posting</li>
            <li>Payments </li>
        </ul>
    </div>
</body>
</html>