<body>
    <div class="navbar2">
        <ul class="navbar-list2">
            <li>Pending Selection</li>
            <li>Accepted Job Offer</li>
            <li>Completed Job</li>
            <li>Blacklisted</li>
        </ul>
    </div>
</body>
</html>