<body>
    <div class="navbar2">
        <ul class="navbar-list2">
            <a href="/jobApplication"><li>Pending Selection</li></a>
            <a href="/jobAccepted"><li>Accepted Job Offer</li>
            <li>Completed Job</li>
            <a href="/jobBlacklisted"><li>Blacklisted</li></a>
        </ul>
    </div>
</body>
</html>