<body>
    <div class="navbar2">
        <ul class="navbar-list">
            <a href="/"><li>Jobs</li></a>
            <a href="/jobApplication"><li>Applications</li></a>
            <a href="/eWallet"><li>E-Wallet</li></a>
        </ul>
    </div>
</body>
</html>