<!-- <body>
    <div class="navbar2">
        <ul class="navbar-list">
            <li>Jobs</li>
            <li>Applications</li>
            <li>Resume</li>
            <li>Shop</li>
            <li>E-Wallet</li>
        </ul>
    </div>
</body>
</html> -->