<body>
    <div class="navbar2">
        <ul class="navbar-list2">
            <a href="/eWallet"><li>Scan / Payment</li></a>
            <a href="/eTrans"><li>Transactions</li></a>
            <a href="/eCurrency"><li>Currencies</li></a>
            <a href="/"><li>E-Card</li></a>
        </ul>
    </div>
</body>
</html>