
<body>
    <div class="ctn-login">
        <h1 class="f-sanserif-bold mt-5">Registration Successful!</h1>
        <p class="f-sanserif-regular mt-5">
            A verification email has been sent to your email address. Please verify your email to complete the registration process.
        </p>
    </div>

</body>
</html>
